src/main/mule/welcome-to-mulesoft.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="35f08ea4-c0e6-456b-b213-d1229b10d18b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="welcome-to-mulesoftFlow" doc:id="c706e3d0-40b3-4c26-ac12-b14f6888eed9" >
		<http:listener doc:name="Listener" doc:id="f4bb0178-a93f-41cb-b10f-46de460cefb8" config-ref="HTTP_Listener_config" path="/welcome"/>
		<ee:transform doc:name="Transform Message" doc:id="6c31e7b6-4033-4cf0-892e-1da5c0e2b02d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"msg": "welcome to mulesoft"
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="0dc71a4c-9f76-492d-909f-4c9d49c66e19" message="#[welcome : payload]"/>
	</flow>
</mule>
